/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "reset";


.group:before, .group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}
.group {
  zoom: 1; /* IE6&7 */
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
section p {
  line-height: 1.75em;
}

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
  line-height: 1.75em;
}

.posts {

  time, article h2 {
    display: inline-block;
  }

  time  {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
    float: left;
    margin-right: 1em;
  }

  article {
    text-align: left;

    h2 {
      font-weight: normal;
    }
  }
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  max-width: 42em;
  margin: 3em auto 2em;
  padding-left: 2em;
  padding-right: 2em;
  line-height: 1.5em;

  header {
    a {
      font-weight: bold;
      text-decoration: none;
    }

    h1.title {
      display: inline-block;
      margin-bottom: 2em;
      a {
        color: #a00;
      }
      a:hover {
        color: #000;
      }
      a.extra {
        color: #aaa;
        margin-left: 1em;
      }
      a.extra:hover {
        color: #000;
      }
    }
  }

  footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;

    .contact {
      float: left;
      margin-right: 3em;
      a {
        color: #8085C1;
      }
    }
  }
}

.meta, time {
  color: #aaa;
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/


/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post h1 {
  text-align: left;
}
